---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "2º capítulo";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle</h2>
  </BaseLayout>

  <button class="collapsible">Incomunicabilidade</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>