---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sobre";
---
<BaseLayout pageTitle={pageTitle}>

    <p>gonssalo, nascido em cascais, viveu na Madeira antes de vir para Lisboa estudar em Belas-Artes. Licenciou-se em Arte Multimédia em 2018 e encontra-se agora no último ano do Mestrado em Arte Multimédia na mesma faculdade. Já expôs em Portugal, Alemanha, onde realizou Erasmus, e Holanda. Trabalha numa joalharia em Oeiras.</p>
    
    <p>Tem vindo desde 2016 a desenvolver o projeto "então ... gravei." que expôs em outubro de 2020 nas Belas-Artes Lisboa, em 2021 na Fabrica Features Lisboa e em 2022 na MAP Oeiras. Em plena pandemia organiza a exposição IMAGO com um coletivo de artistas. Em outubro de 2020 e 2021 participa no seminário de realização do DOCLisboa e em setembro de 2019 participou no Seminário Doc’s Kingdom com uma bolsa Gulbenkian. Participou mais recentemente na residência Mutantes da Boca Bienal, que apresentou "200 perguntas a cada" no Teatro Nacional Dona Maria II, e em março 2022 na residência "Órbita" do Festival Súbito.</p>

    <p>Como artista performativo explora a natureza da linguagem, o meio artístico e o processo de criação. Actualmente a acabar de escrever a sua dissertação, espera com isso conseguir continuar a desenvolver o seu trabalho à volta da hibridez da realidade, onde a linguagem serve como ferramenta descodificadora e o meio audiovisual a matéria.</p>

    <button class="collapsible"> Curriculum Vitae</button>
  <div class="content">
    <ul>
        <li><h2>educação e formação</h2></li>
        <li><p>2023-2024 — Pós-graduação em Digital Experience Design (Belas-Artes UL, Lisboa)</p></li>
        <li><p>2018-2024 — Mestrado em Arte Multimédia (Belas-Artes UL, Lisboa)</p></li>
        <li><p> 2019-2020 — Erasmus (Kunsthochschule Kassel, Kassel)</p></li>
        <li><p>2015-2018 — Licenciatura em Arte Multimédia (Belas-Artes UL, Lisboa)</p></li>
        <li><p>2005-2010 — Conservatório - Piano (Funchal, Madeira)</p></li>
        <li><h2>exposições individuais</h2></li>
        <li><p>06/2022 — bambo — Cosmos Campolide — (Campolide, Lisboa) </p></li>
        <li><p>05/2022 — "então…gravei." — Festival MAP — (Oeiras, Lisboa) </p></li>
        <li><p>03/2022 — descasa — purga com Joana Lourenço (Vila Luz, Lisboa) </p></li>
        <li><p>11/2021 — LIQUIDAR (Fabrica Features Lisboa, Lisboa) </p></li>
        <li><p>10/2020 — “então…gravei.” (Belas-Artes UL, Lisboa) </p></li>
        <li><p>12/2019 — NOT YET - “então...gravei.” (Kunsthochschule, Kassel) </p></li>
        <li><h2>exposições coletivas</h2></li>
        <li><p>06/2022 — 200 Perguntas a cada - Performance inserida no programa Mutantes da BocaBienal no Teatro Nacional D. Maria II (Lisboa) </p></li>
        <li><p>04/2022 — Programa Órbita #2 - Apresentação de Práticas Colaborativas (AgitLab, Águeda)</p></li>
        <li><p>11/2021 — Festival Colina 2021 (A Gráfica - Centro de Criação Artística, Setúbal) </p></li>
        <li><p>09/2021 — Entre o Real e a Imagem - CINENOVA (Casa Capitão, Lisboa) </p></li>
        <li><p>09/2020 — "então…gravei." Performance no rádioprograma TEIA (Lisboa) </p></li>
        <li><p>05/2020 — IMAGO - curadoria pela Isabel Ouro - (Lisboa) </p></li>
        <li><p>02/2020 — I bring my Body back to me - w - com Chloë Reynolds (Tokonoma, Kassel) </p></li>
        <li><p>02/2020 — Betriebsausflug, der - “então...gravei.” (Haus & Wirt, Kassel) </p></li>
        <li><p>02/2020 — “então...gravei.” Performance na rádio Freies Radio Kassel (Kassel) </p></li>
        <li><p>01/2020 — Out the Window - curadoria por Maria João Gamito (Arte Graça, Lisboa) </p></li>
        <li><p>01/2020 — “então...gravei.” Performance na rádio jajajaneeneenee.com (Amesterdão)</p></li>
        <li><p>01/2020 — w - com Chloë Reynolds - (Vrij Paleis, Amsterdam)</p></li>
        <li><p>09/2019 — Der Klang von Lissabon - O Som de Lisboa (LUX Mainz, Frankfurt) </p></li>
        <li><p>05/2019 — GABA, Galerias Abertas Belas Artes (Belas-Artes UL, Lisbon) </p></li>
        <li><p>10/2018 — Presente do Futuro, Simples ou Composto - curadoria por Victor dos Reis (Belas-Artes UL, Lisboa) </p></li>
        <li><p>06/2017 — Sem Destino a (LX Factory, Lisboa) </p></li>
        <li><p>06/2015 — E depois do adeus (Casa da Cultura de Santa Cruz, Madeira) </p></li>
        <li><p>06/2014 — Ponto (Galeria Francisco Franco, Madeira)</p></li>
        <li><h2>vídeo</h2></li>
        <li><p>2022 — Dolphin Bay Dream - realizador - videoclip para funcionário </p></li>
        <li><p>2021 — Todos os Cantos à volta da Frutaria - realizador - curta-documentário com Ana Manana, Joana Lourenço, João Reis, Mariana Calado </p></li>
        <li><p>2020 — uncanny valley - vídeo para João Estevens </p></li>
        <li><p>2020 — ERDNA - co-realizador e montagem - documentário com André Picardo </p></li>
        <li><p>2019 — O Rosto dos Despejos - realizador -  curta-documentário com André Picardo </p></li>
        <li><h2>publicações, apresentações, seminário</h2></li>
        <li><p>2022 — Publicação — LLAMA VIRGEM — Não são as unhas que me roem / Editora Cidade Nua (Lisboa)</p></li>
        <li><p>2022 — Apresentação em MAP - Mostra das Artes da Palavra (Oeiras, Lisboa)</p></li>
        <li><p>2022 — Residência Artística na Boca Bienal, "Mutantes" (Lisboa)</p></li>
        <li><p>2022 — Residência Artística no Festival Súbito, Órbita com  AgitLAB (Águeda, Aveiro)</p></li>
        <li><p>2021 — Participação no Seminário de Realização DOCLisboa com UnionDocs Center for Documentary Art - (Lisboa)</p></li>
        <li><p>2020 — Participação no Seminário de Realização DOCLisboa com UnionDocs Center for Documentary Art - (Lisboa)</p></li>
        <li><p>2019 — Participação no Seminário Doc’s Kingdom - Bolseiro Gulbenkian - (Arcos de Valdevez, Viana do Castelo)</p></li>
        <li><p>2018 — Apresentação em Ciclo de Conferências de Fotografia III (Arquivo Municipal de Lisboa, Lisboa)</p></li>
        <li><p>2018 — Publicação em Dia das Belas-Artes, 2018 / Faculdade de Belas Artes da Universidade de Lisboa</p></li>
        <li><h2>voluntariado</h2></li>
        <li><p>2016-2018 — Presidente da Associação de Estudantes da Faculdade de Belas-Artes da Universidade de Lisboa</p></li>
        <li><p>2016-2018 — Membro do Conselho Pedagógico da Faculdade de Belas-Artes da Universidade de Lisboa</p></li>
        <li><h2>press</h2></li>
        <li><p>05/2022 — Gerador — por Isabel Patrício - "Mostra de Artes da Palavra está de volta e tem o Brasil como país convidado" - </p></li>
        <li><p>05/2022 — Público — "MAP de volta a Oeiras: “A palavra deve ser uma ferramenta contra a guerra” - </p></li>
        <li><p>04/2022 — Observador - "Mostra de Artes da Palavra realiza-se em maio em Oeiras e homenageia Chico Buarque” - </p></li>
        <li><p>11/2021 — TimeOut — por Luís Filipe Rodrigues - "A Colina volta a erguer-se e a ouvir-se em Setúbal neste fim-de-semana" - </p></li>
        <li><p>10/2021 — Diário Digital Castelo Branco - "Festival de Teatro da Ajidanha apresenta hoje “Uncanny Valley” em Idanha-a-Nova" - </p></li>
        <li><p>06/2020 — Gerador — por Bárbara Ramos - Gonssalo: “Tudo o que criamos nesta exposição foi imagem baseada na imagem” - </p></li>
        <li><p></p></li>
    </ul>
</BaseLayout>