---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "landing";
---
<BaseLayout>
  <h2>Bem-vindo ao site da minha Dissertação</h2>
  <p>Vou defendê-la no dia 10 de julho de 2024 e aqui está parte dela, se tiverem interesse podem ler à vontade.</p>
</BaseLayout>