---
---
<div id="logo">
    <a href="/">gonssalo</a>
</div>

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/portfolio">portfolio</a>
    <a href="/blog">blog</a>
    <a href="/contacts">contacts</a>
    <a href="/about">about</a>
</div>