---
---
<div id="logo">
    <a href="/index">gonssalo</a>
</div>

<div class="nav-links">
    <a href="/intro">Introdução</a>
    <a href="/1-chapter">Incomunicabilidade, originalidade e autoria</a>
    <a href="/2-chapter">Processo, performatividade e curadoria</a>
    <a href="/entao-gravei">"então…gravei."</a>
    <a href="/about">sobre</a>
</div>