---
---
<div id="logo">
    <a href="/landing">gonssalo</a>
</div>

<div class="nav-links">
    <a href="/intro">Introdução</a>
    <a href="/1-chapter">Incomunicabilidade, originalidade e autoria</a>
    <a href="/2-chapter">Processo, performatividade e curadoria</a>
    <a href="/blog">"então…gravei."</a>
    <a href="/about">about</a>
</div>